[submodule "varnish"]
	path = varnish
	url = https://github.com/fernandezvara/varnish.git
[submodule "apt"]
	path = apt
	url = https://github.com/opscode-cookbooks/apt.git
[submodule "yum"]
	path = yum
	url = https://github.com/opscode-cookbooks/yum.git
